# Data (too large for git)
data/raw/
data/processed/

# Checkpoints & model weights
checkpoints/

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Roboflow
roboflow/
