# Data (too large or sensitive)
data/

# Secrets
.env

# Checkpoints & model weights
checkpoints/

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Roboflow
roboflow/
